
RewriteEngine on

RewriteCond %{HTTP_HOST} ^ordrupapp.com$
RewriteRule ^(.*)$ "http\:\/\/www\.ordrupapp\.com\/$1" [R=301,L]

# special case: login and logout
RewriteRule ^/?login$ /login.php [L]
RewriteRule ^/?logout$ /logout.php [L]
