/* ====================================================================================================================================================== */

body, html {
	margin: 0;
	padding: 0;
	color: Black;
}

body {
    overflow-y: scroll;
	font: 15px/1.6 Arial, Helvetica, sans-serif; 
	color: Black;
	background-repeat:repeat;
	/*background-attachment:fixed;*/
}

div#page {
	max-width: 960px;
	z-index:50;
	margin: 0 auto;
	padding:71px 2px 2px 2px;
/*	background: rgb(255, 245, 245);*/ /* fallback color */
/*	background: rgba(140, 190, 190, 0.15); */
}

.waitList {
	border: 2px solid purple;
	padding: 5px;
	margin: 5px;
	background-color: orange;
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.tableSeating {
	border: 2px solid yellow;
	padding: 5px;
	margin: 5px;
	background-color: white;
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.tableSeating.Available {
	background-color: green;
}

.tableSeating.Occupied {
	background-color: lightGray;
}
