/* ====================================================================================================================================================== */

body, html {
	margin: 0;
	padding: 0.5em 0;
	color: Black;
}

body {
    overflow-y: scroll;
	font: 15px/1.6 Arial, Helvetica, sans-serif; 
	color: Black;
	background-repeat:repeat;
	background-attachment:fixed;
	background-image:url('../res/vinyl02.jpg');
}

div#page {
	max-width: 960px;
	z-index:50;
	margin: 0 auto;
	padding:0.25em 0;
	clear:both;
/*	background: rgb(255, 245, 245);*/ /* fallback color */
/*	background: rgba(140, 190, 190, 0.15); */
}

div#header {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	min-height:128px;
	padding: 0.25em;
	margin-bottom:1em;
	border-bottom: 2px inset white;
}

#logo {
	float:left;
}
#userInfo {
	float:right;
	text-align:right;
	margin-bottom:40px;
}

.userFullName {
	display:inline;
	font-size: 12pt;
}

.userRole {
	display:inline;
	margin:0 1em;
	font-style:italic;
	font-size: 10pt;
}

#navBar {
	float:right;
	clear:right;
	padding: 0.25em;
	text-align:right;
}

.navButton {
	cursor:pointer;
	display:inline;
	margin:0.3em;
	padding:0.3em;
	font-size: 12pt;
	max-width: 8em;
	border: 2px outset white;
}

.navButton:hover {
	background-color: #dcdcdc;
}

/* ====================================================================================================================================================== */

.waitList {
	border: 2px solid purple;
	padding: 5px;
	margin: 5px;
	background-color: orange;
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}


.tableSeating {
	border: 2px solid yellow;
	padding: 5px;
	margin: 5px;
	background-color: white;
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.tableSeatingStatusAvailable {
	cursor:pointer;
}

.tableSeating.Available {
	background-color: green;
}

.tableSeating.Occupied {
	background-color:#303030;
}

.discount {
	border: 2px solid purple;
	padding: 5px;
	margin: 5px;
	background-color: orange;
	width: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.tableTables {
	border: 2px solid yellow;
	padding: 5px;
	margin: 5px;
	background-color: white;
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.tableTables.Available {
	background-color: green;
}

.tableTables.Occupied {
	background-color: #303030;
}

.tableStatus {
	cursor: pointer;
}

.order {
	border: 2px solid black;
	padding: 1em;
}

.orderHeadingInfo {
	display: inline;
	margin-right: 10em;
}

.orderItem {
	cursor: pointer; cursor: hand;
}

.orderItemInfo {
	display:table-cell;
    vertical-align:left;
	cursor: pointer; cursor: hand;
	display: inline;
	margin-right: 5em;
}

.orderItemStatusNew {
	margin-left: 2em;
	border: 1px solid black;
	background-color:#FF0000; 
}

.orderItemStatusInPrep {
	margin-left: 2em;
	border: 1px solid black;
	background-color:#FFFF00;
}

.orderItemStatusReady{
	margin-left: 2em;
	border: 1px solid black;
	background-color:#008000;
}

.orderQueueRefreshButton {
	border: 1px solid black;
	background-color:#9999FF;
	text-align:center;
	cursor: pointer; cursor: hand;
}


.menuItemInfoSnippet{
	display: inline;
	margin-right: 5em; 
}

.billButton {
	cursor:pointer;
	background-color:blue;
	display:inline;
}

.bill {
	
}

.billHeader {
	font: 18px Arial, Helvetica, sans-serif;
}

.billPrint {
	cursor:pointer;
	border: 2px inset gray;
	display:inline;
	float:right;
	background-color:yellow;
}

.drawMenu {
	border: 2px solid red;
	padding: 5px;
	margin: 5px;
	background-color: gray;
	width: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.items {
	border: 2px solid red;
	padding: 5px;
	margin: 5px;
	background-color: gray;
	width: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}

.user {
 	border:2px solid black;
	padding: 5px;
	margin: 5px;
	background-color: #CCCCCC;
	width: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.2em;
}


img {
	border:hidden
}



