RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats/|missing.html|failed_auth.html|error/).* [NC]

# don't rewrite anything that really exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

RewriteRule ^([A-Za-z0-9_-]+)/([0-9]+)(/?.*)$						/?resource=$1&key=$2	[NC,L]
RewriteRule ^([A-Za-z0-9_-]+)/?$									/?resource=$1			[NC,L]


# ideally we'd have two separate rules
# collection
# RewriteRule ^([A-Za-z0-9_-]+)/(?!^\d+$)^.+$/(.*)/?$			/?resource=$1&%{QUERY_STRING}	[NC]
# specific resource with a numeric id
# RewriteRule ^([A-Za-z0-9_-]+)/([0-9]+)(/?.*)/?$						/?resource=$1&key=$2&%{QUERY_STRING}	[NC]


# treat additional as /key/value/key/value
# RewriteCond %{QUERY_STRING} ^(.*)$
# RewriteRule ^(.*/)([^/]+)/([^/]+) $1?$2=$3&%1 [L]
# RewriteCond %{QUERY_STRING} ^(.*)$
# RewriteRule ^([^/]+)/ ?%1 [L]

